# Import packages

In [1]:
import requests
# import json
import pandas as pd

In [13]:
df = pd.read_csv('diamonds.csv')

In [231]:
url = 'https://www.brilliantearth.com/loose-diamonds/list/?shapes=Round&min_carat=0.94&max_carat=0.94&page=1'

In [234]:
r = requests.get(url)

In [248]:
type(r.json())

dict

In [253]:
bool(r.json())

False

In [243]:
test = {1: 1}

In [254]:
bool(test)

True

In [232]:
response = requests.get(url).json()

In [233]:
print(f'total_count: {response["total_count"]}')
print(f'page: {response["page"]}')
print(f'num_records: {len(response["diamonds"])}')
print(f'path: {response["path"]}')

KeyError: 'total_count'

In [228]:
class Diamonds:
    def __init__(self, page_num=1, min_carat=0.91, max_carat=1.0):

        self.page_num = page_num
        self.min_carat = min_carat
        self.max_carat = max_carat
        
        self.url = 'https://www.brilliantearth.com/loose-diamonds/list/'
        self.num_records = 0
        
        self.diamond_id = []
        self.carat = []
        self.color = []
        self.clarity = []
        self.cut = []
        self.price = []

    
    def get_diamonds(self):
        
        path = f'?shapes=Round&min_carat={self.min_carat}&max_carat={self.min_carat}&page={self.page_num}'
        full_path = self.url + path
        
        response = requests.get(full_path).json()
        
        if bool(response) == False:

        for diamond in response['diamonds']:
            self.diamond_id.append(diamond['id'])
            self.carat.append(diamond['carat'])
            self.color.append(diamond['color'])
            self.clarity.append(diamond['clarity'])
            self.cut.append(diamond['cut'])
            self.price.append(diamond['price'])
            self.num_records += 1
            
        if response['total_count'] % 20 == 0:
            
            while self.page_num < (response['total_count'] / 20):
                print(f'Page {self.page_num} done.')
                self.page_num += 1
                self.get_diamonds()
                
            print(f'***** Retrived {self.num_records:,} diamonds of {self.min_carat:.2f} carat weight *****')

        else:
            
            if len(response['diamonds']) == 20:
                print(f'Page {self.page_num} done.')
                self.page_num += 1
                self.get_diamonds()
                
            print(f'***** Retrived {self.num_records:,} diamonds of {self.min_carat:.2f} carat weight *****')

        if self.min_carat < self.max_carat:
            self.min_carat += 0.01
            self.page_num = 1
            self.get_diamonds()
            
    def create_frame(self):
        
        data = {
            'diamond_id': self.diamond_id,
            'carat': self.carat,
            'color': self.color,
            'clarity':self.clarity,
            'cut': self.cut,
            'price': self.price
        }
        
        return pd.DataFrame(data)

In [229]:
bling = Diamonds()

In [230]:
%%time
bling.get_diamonds()

Page 1 done.
Page 2 done.
Page 3 done.
Page 4 done.
Page 5 done.
***** Retrived 119 diamonds of 0.91 carat weight *****
Page 1 done.
***** Retrived 157 diamonds of 0.92 carat weight *****
Page 1 done.
***** Retrived 184 diamonds of 0.93 carat weight *****

KeyError: 'diamonds'

In [221]:
len(bling.diamond_id)

119

In [203]:
diamonds = bling.create_frame()

In [204]:
diamonds.head()

   diamond_id  carat color clarity        cut  price
0     9540866    0.9     J     SI1       Good   2180
1    10187295    0.9     J     SI2       Good   2260
2    10197030    0.9     J     SI1       Good   2380
3    10207048    0.9     J     SI1       Good   2390
4    10207059    0.9     J     SI2  Very Good   2410

In [205]:
diamonds.tail()

      diamond_id  carat color clarity          cut  price
1039    10132248    0.9     D      IF  Super Ideal   8830
1040    10134995    0.9     D      IF  Super Ideal   8920
1041    10115067    0.9     D      IF  Super Ideal   8990
1042    10209986    0.9     D      IF  Super Ideal   9430
1043    10207187    0.9     D      FL  Super Ideal   9960

In [206]:
len(diamonds['diamond_id'].unique())

1044

In [207]:
old = len(df)
old

44181

In [208]:
df = pd.concat(
    [df, diamonds],
    ignore_index=True
)

In [209]:
new = len(df)
new

45225

In [210]:
new - old

1044

In [211]:
df.to_csv('diamonds.csv', index=False)

In [215]:
# diamonds.duplicated(subset='upc')
diamonds[diamonds.duplicated(['diamond_id'], keep=False)]

       diamond_id  carat color clarity          cut  price
259       9563097   0.25     F     VS1  Super Ideal    620
261       9563097   0.25     F     VS1  Super Ideal    620
4270     10160929   0.30     D     VS1    Very Good    780
4271     10160929   0.30     D     VS1    Very Good    780
17914    10205003   0.37     D     VS1        Ideal   1110
...           ...    ...   ...     ...          ...    ...
58354    10238504   0.43     J    VVS1  Super Ideal    990
58355     9588287   0.43     E     SI1    Very Good   1000
58356     9966456   0.43     D     SI2  Super Ideal   1010
58357    10186043   0.43     J    VVS1  Super Ideal   1010
58358     9977697   0.43     J    VVS2  Super Ideal   1010

[34286 rows x 6 columns]

In [316]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10458 entries, 0 to 10457
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   diamond_id  10458 non-null  int64
 1   carat       10458 non-null  float64
 2   color       10458 non-null  object
 3   clarity     10458 non-null  object
 4   cut         10458 non-null  object
 5   price       10458 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 490.3+ KB

In [199]:
df.tail()

       diamond_id  carat color clarity          cut  price
25984    10191979   0.49     F     VS1    Very Good   1940
25985    10223274   0.49     E    VVS1  Super Ideal   2040
25986    10099446   0.49     D     VS2  Super Ideal   2170
25987     9598921   0.49     D    VVS1  Super Ideal   2230
25988     9951008   0.49     D      IF  Super Ideal   2780

In [321]:
df3 = pd.concat(
    [df, df2],
    ignore_index=True
)

In [322]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36447 entries, 0 to 36446
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   diamond_id  36447 non-null  int64
 1   carat       36447 non-null  float64
 2   color       36447 non-null  object
 3   clarity     36447 non-null  object
 4   cut         36447 non-null  object
 5   price       36447 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.7+ MB

In [324]:
df3.tail()

       diamond_id  carat color clarity          cut  price
36442    10236892   0.58     E    VVS1  Super Ideal   3850
36443     9922838   0.58     D      IF  Super Ideal   3980
36444     9965270   0.58     D      IF  Super Ideal   4310
36445    10209495   0.58     D      FL  Super Ideal   4410
36446    10020378   0.58     D      FL  Super Ideal   5030